.landingSection {
	--landingDuration: 0.2s;

	position: relative;
	width: 100%;
	height: 100%;

	> .container {
		position: sticky;
		top: 0;
		width: 100%;
		height: 100dvh;
		overflow: hidden;

		> .primary,
		> .overlay {
			position: absolute;
			inset: 0;
			display: flex;
			flex-direction: column;
			padding: 0 4vw;
			color: var(--colorContentPrimaryDark);
			overflow: hidden;
			isolation: isolate;
		}

		> .overlay {
			background: white;
			color: var(--colorContentPrimary);
			transition: clip-path var(--landingDuration) ease-out;
		}
	}
}
