@use 'media' as *;

.minor {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 30%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	gap: 1rem 2rem;
	padding: 3vw 4vw;

	> .welcome {
		display: flex;
		flex-direction: column;

		> p {
			margin: 0;
			font-size: max(1.375rem, 3vw);
			font-weight: 300;
			user-select: none;
			text-transform: uppercase;

			&:last-of-type {
				font-size: max(0.875rem, 1.7vw);
				font-weight: 200;
				margin-left: 0.07em;
			}
		}
	}

	> .location {
		--flagSize: max(1.75rem, 3vw);

		display: flex;
		align-items: center;
		font-size: calc(var(--flagSize) / 1.5);
		font-weight: 200;
		letter-spacing: -0.02em;
		user-select: all;
		transition: transform var(--landingDuration) ease-out;

		> .flag {
			flex: none;
			width: var(--flagSize);
			height: var(--flagSize);
			margin: 0 0.5em;
			background-size: 210%;
			background-position: center;
			background-repeat: no-repeat;
			border-radius: 999px;
			border: 1px solid #DDD;
		}
	}

	> .descMail {
		height: 3.75rem;

		> svg {
			fill: transparent;
			stroke: white;
		}

		> p {
			font-size: max(0.875rem, 1.3vw);
			line-height: 1;
			font-weight: 300;
			text-transform: none;
			margin: 0.75rem 0;
		}
	}

	// single column, everything flush right
	@include phone {
		flex-direction: column;
		align-items: flex-end;
		justify-content: flex-end;
		padding: 1.5rem 5vw;

		> .welcome {
			display: none;
		}

		> .location {
			--flagSize: 2rem;
		}

		> .descMail > p {
			font-size: 1rem;
		}
	}
}
