.social {
	display: flex;

	.handle {
		width: 3.125rem;
		height: 3.125rem;
		margin: 0 0.25rem;

		> svg {
			fill: #333;
			padding: 20%;
		}

		&.github {
			> span {
				background: #333;
			}
		}

		&.linkedin {
			> span {
				background: #0077b5;
			}
		}

		&.instagram {
			> span {
				background: #e1306c;
			}
		}

		&.facebook {
			> span {
				background: #3b5998;
			}
		}

		&.x {
			> span {
				background: #1da1f2;
			}
		}
	}

	@mixin socialHover {
		&.github {
			> svg {
				fill: #333;
			}
		}

		&.linkedin {
			> svg {
				fill: #0077b5;
			}
		}

		&.instagram {
			> svg {
				fill: #e1306c;
			}
		}

		&.facebook {
			> svg {
				fill: #3b5998;
			}
		}

		&.x {
			> svg {
				fill: #000000;
			}
		}
	}

	&.dark {
		.handle {
			> svg {
				fill: white;
			}

			> span {
				background: white;
			}

			&:hover {
				@include socialHover;
			}
		}
	}
}
