.ageCard {
	flex: 1;
	display: grid;
	grid-template-columns: repeat(5, minmax(0, 1fr));
	grid-template-areas:
		'title title title title title'
		'years years years years years'
		'months days hours minutes seconds';

	> span {
		display: inline-flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		color: black;

		> .label {
			font-size: 12px;
			font-weight: 500;
			text-transform: uppercase;
			user-select: none;
			text-align: center;
		}

		> .value {
			font-size: 32px;
			font-weight: 400;
		}

		&.title {
			grid-area: title;
			flex-direction: row;
			gap: 8px;
			max-height: 48px;
			font-size: 24px;
			font-weight: 300;
			color: black;
			text-transform: capitalize;
			overflow: hidden;
		}

		&.years {
			margin-top: -12px;
			margin-bottom: -12px;

			> .label {
				position: absolute;
				font-size: 90px;
				font-weight: 500;
				letter-spacing: 35px;
				margin-left: 38px;
				opacity: 0.05;
			}

			> .value {
				font-size: 164px;
				font-weight: 200;
			}
		}
	}
}