.home {
	width: 100%;
	min-height: 100%;
	background: black;

	> .starField {
		position: fixed;
		top: 0; left: 0;
		width: 100vw; height: 100vh;
	}

	.landingContainer {
		position: relative;
		height: var(--landingHeight);
	}

	.profileContainer {
		width: 100%;
		height: var(--profileHeight);
	}

	.footer {
		position: relative;
		width: 100%;
		height: 100vh;
		color: white;
		background: var(--gradientBackground);
		display: flex;
		justify-content: center;
		align-items: center;
	}
}
