.home {
	width: 100%;
	min-height: 100%;
	background: black;

	> .starField {
		position: fixed;
		inset: 0;
		width: 100%;
		height: 100%;
	}

	> .landingContainer {
		position: relative;
		height: var(--landingHeight);
	}
}
