@use 'media' as *;

.introduction {
	justify-content: center;
	align-items: flex-start;

	> .hello {
		width: 40%;
		stroke: var(--colorContentPrimaryDark);
		margin-bottom: 1.25rem;
		stroke-width: 10;
		stroke-linecap: round;
		stroke-dasharray: 3330;
		stroke-dashoffset: 3330;
		transition: stroke-dashoffset 0.7s ease-out;
	}

	> .about {
		display: flex;
		flex-direction: column;
		max-width: 64ch;
		margin: 0.625rem 0 1.875rem;

		> span {
			color: var(--colorContentPrimaryDark);
			font-size: 1.2rem;
			font-weight: 200;
			line-height: 1.35;

			&:last-of-type {
				margin-top: 0.75em;
			}
		}
	}

	> .more {
		color: white;
		margin-bottom: 2.5rem;
	}

	@include compact {
		> .hello {
			width: min(55%, 15rem);
		}

		> .more {
			margin-bottom: 0;
		}
	}
}

.introductionPlanet {
	width: 100%;
}
